<div class="paddingTop">
	<%= render 'shared/title', title: "Промени лозинка" %>
	<%= render 'shared/errors', obj: @user %>
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<%= form_for @user, url: update_password_user_path(@user), html: {method: "post", autocomplete: 'off'} do |f| %>
				<%= f.label :current_password, 'Стара лозинка' %>
				<%= f.password_field :current_password %>

				<%= f.label :password, 'Лозинка' %>
				<%= f.password_field :password %>

				<%= f.label :password_confirmation, "Потврди лозинка" %>
				<%= f.password_field :password_confirmation %>

				<%= f.submit "Промени", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>