<%= form_tag(search_advertisements_path, :method => "post", id: "search-form" ) do %>
	<div class="col-md-3">
		<div class="input-group">
			<%=  text_field_tag :search, params[:search], class: "form-control", placeholder: "Iphone 6, BMW ..."%>
	  </div>
	</div><!-- col-md-3 -->

	<div class="col-md-3">
	  <div class="input-group">
		  <select id="category_id" ng-model="adverts.category" name="category_id" class="form-control">
		  	<option value="0">Сите категории</option>
		  	<% @categories.to_a.reverse.to_h.each do |k, v| %>
		  		<% if v.values.first == nil %>
		  			<option value="<%= v.keys.first %>"><%= k %></option>
		  		<% else %>
		  			<option value="<%= v.keys.first %>" style="background: #bababa"><%= k %></option>
		  		<% end %>
		  	<% end %>
		  </select>
	  </div>
	</div><!-- col-md-3 -->

	<div class="col-md-3">
		<div class="input-group">
	    <% cities_array = City.all.map { |city| [city.name, city.id] } %>
	  	<%= select_tag(:city_id, options_for_select(cities_array, ["Цела Македонија", 33]), class: "form-control") %>
	  </div>
	</div><!-- col-md-3 -->

	<div class="col-md-3">
		<div class="input-group">
			<%= submit_tag "Барај", class: "btn btn-default btn-background btn-width" %>  
		</div><!-- col-md-3 -->
	</div>
<% end %>