<div class="paddingTop">
	<div class="container">
		<%= render 'search_form' %>
		
		<% @advertisements.each do |advert| %>
			<div class="col-md-10 col-md-offset-1 advert">
				<div class="pull-left">
				<%= image_tag(advert.photos[0].image.url, size: '200x100') if advert.photos[0] %>
				<p><%= advert.updated_at.strftime("%d-%m-%Y %H:%M") %></p>
				</div>
				<div class="col-md-4">
					<p><%= link_to advert.title, public_advertisement_path(advert.id) %></p>
					<p><%= advert.price ? advert.price : "По договор" %></p>
				</div>
				<div class="pull-right">
					<p class="right-text">
						<%= link_to "Ми се допаѓа" %>
					</p>
					<p class="right-text">
						<%= link_to "Зачувај" %>
					</p>
					<p class="right-text"><%= advert.city ? advert.city.name : "" %></p>
					<p class="text-gray"><%= advert.category.name %></p>
				</div>
			</div>
		<% end%>
		<%= will_paginate %>
	</div>

	<hr>
</div><!-- paddingTop -->

