<footer class="footer">
	<div class="container">
	  <p class="pull-left vert-offset-top-1 text-gray">© MARKET.mk 2016</p>
	  <div class="pull-right">
	    <ul class="nav navbar-nav">
	      <li><%= link_to 'Сите огласи', '#', class: 'text-gray' %></li>
	      <li><%= link_to 'Внеси оглас', '#', class: 'text-gray' %></li>
	      <li><%= link_to 'Маркетинг', '#', class: 'text-gray' %></li>
	      <li><%= link_to 'Помош', '#', class: 'text-gray' %></li>
	      <li><%= link_to 'Контакт', '#', class: 'text-gray' %></li>
	    </ul>
	  </div>
  </div>
</footer>