<nav class="navbar navbar-inverse navbar-fixed-top">

	<div class="container">
	
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
      	<strong>МARKET</strong>
      	<span class="extension">.mk</span>
      <% end%>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><%= link_to 'Сите огласи', '#' %></li>
				<li><%= link_to 'Внеси оглас', new_advertisement_path %></li>
			</ul>

			<% if logged_in? %>
				<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle text-gray" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user[:username] %><span class="caret"></span></a>
          <ul class="dropdown-menu text-gray">
            <li><%= link_to 'Профил', user_path(current_user) %></li>
            <li><%= link_to 'Мои огласи', adverts_user_path(current_user) %></li>
            <li><%= link_to 'Промена на лозинка', show_password_user_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Одјави се', logout_path %></li>
          </ul>
        </li>
      </ul>
			<% else %>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'Најави се', login_path %></li>
				</ul>
			<% end %>

		</div>
	</div>

</nav>